@model Cart

<div class="cart">
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CartItem cartItem in Model.CartItems)
            {
                <tr>
                    <td>@cartItem.Item.Code</td>
                    <td>@cartItem.Item.Name</td>
                    <td>$@cartItem.Item.Price</td>
                    <td>@cartItem.Quantity</td>
                    <td>$@(@cartItem.Item.Price * cartItem.Quantity)</td>
                    <td><a asp-action="IncrementCartItem" asp-controller="Home" asp-route-id="@cartItem.Id" class="increment-btn button">+</a></td>
                    <td><a asp-action="DecrementCartItem" asp-controller="Home" asp-route-id="@cartItem.Id" class="decrement-btn button">-</a></td>
                </tr>
            }
            <tr class="tr-subtotal">
                <th colspan="6">SubTotal:</th>
                <td colspan="1">$@Model.SubTotal</td>
            </tr>
            <tr class="tr-total">
                <th colspan="6">Total:</th>
                <td colspan="1">$@Model.Total</td>
            </tr>
        </tbody>
    </table>
    <div class="clear-n-place flex">
        <a asp-action="ClearCart" asp-controller="Home" class="clear-btn button">Clear Cart</a>
        <a asp-action="PlaceOrder" asp-controller="Home" class="place-btn button">Place Order</a>
    </div>
</div>
